/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ====== Global ======= */
body {
    background-color: #E5E7EB;
}
.container {
    width: 500px;
    height: auto;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    border: solid 5px #B8D9EC;
    /*Gradient*/
    background: rgb(247,251,252); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(247,251,252,1) 0%, rgba(217,237,242,1) 40%, rgba(173,217,228,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,251,252,1)), color-stop(40%,rgba(217,237,242,1)), color-stop(100%,rgba(173,217,228,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbfc', endColorstr='#add9e4',GradientType=0 ); /* IE6-9 */



} 

h1 {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 48px;
    color: rgb(116, 141, 221);
    margin: 10px;
}

input[name="inputItem"] {
    margin: 10px 0;
    width: 300px;
    height: 30px;
    font-size: 20px; 
}

button {
    width: 65px;
    height: 25px;
    background-color: #5EE5C3;
    font-size: 14px;
    border-radius: 5px;
    border-bottom-color: #59D9B9;
    border-right-color: #59D9B9;
    border-top-color: #ADE9D8;
    border-left-color: #ADE9D8;
    text-shadow: 1px 1px 1px #FFF;
    color: #67797F;
}

button:hover {
    background-color: #4D5F66;
    border-bottom-color: #4D5F66;
    border-right-color: #4D5F66;
    border-top-color: #708A94;
    border-left-color: #708A94;
    color: rgba(105, 194, 229, 0);
}

input[type="checkbox"] {
    margin-right: 10px; 
}

#instr {
    margin: 10px;
    font-size: 20px;
}

#newtext {
    display: none;
    margin: 10px;
}

.add,
.checkoff {
    position: relative;
    padding: 3px;
    margin: 10px 0;
    height: 30px;
    width: 200px;
    font-size: 30px;
    overflow-x: hidden;
    display: block;
    text-align: left;
    left: 30px;
    border-radius: 5px;
}

.add {
     background-color: rgb(162, 203, 247);
     opacity: 0.8;
}

.checkoff {
    background-color: rgb(228, 206, 196);
    text-decoration: line-through;
    opacity: 0.5;
    color: rgb(248, 19, 19);
}